.footer
{
    padding: 10px 0 10px 0;
    background-color:#26272C;
    color:white;
}

.footer ul
{
    list-style:none;
    padding: 0;
    font-size:16px;
}

.footer ul li a
{
    color: #A3A5A8;
    font-size: 13px;
    line-height: 20px;
}