<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.2.0 Source/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="bootstrap-3.2.0 Source/dist/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap-3.2.0 Source/dist/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
        
  
      
    <!-- Custom styles for this template -->
    <link href="jumbotron/static/css/jumbotron.css" rel="stylesheet">

    <!-- Custom styles for this template by GUIGUI -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template by GUIGUI -->
    <link href="jumbotron/static/css/custom.css" rel="stylesheet">
    
    <!-- Custom styles for this template by GUIGUI -->
    <link href="static/css/custom.css" rel="stylesheet">
    <link href=frontpage.css rel="stylesheet">
      
    <!-- Custom styles for this template by GUIGUI -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="profile.css" rel="stylesheet">
    
    
  </head>
<!-- NAVBAR
-->
  <body>
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="frontpage3.html"> ArtByPeople </a>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Discover<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Top rated pictures</a></li>
                      <li><a href="#">Top rated artists</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Local pictures</a></li>
                      <li><a href="#">Local artists</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Recent pictures</a></li>
                    </ul>
                  </li>
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Followed artists<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Friends I follow</a></li>
                      <li><a href="#">Their photos</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Suggested artists</a></li>
                    </ul>
                  </li>
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Your gallery<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">My photos</a></li>
                      <li class="divider"></li>
                      <li><a href="#">My collected photos</a></li>
                    </ul>
                  </li>
                    
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">My Orders</a></li>
                      <li class="divider"></li>
                      <li><a href="#">My Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>
                  </li>
              </ul>
            </div><!--/.navbar-collapse -->
      </div>
    </nav>

<!-- PROFILE 
==================================================  -->
    

<div class="container" style="margin-top: 70px; margin-bottom: 20px;">
	<div class="row panel">
		<div class="col-md-4 bg_blur ">
                <!-- La photo est dans le CSS en background image-->
    	    <a href="#" class="follow_btn hidden-xs">Follow</a>
		</div>
        <div class="col-md-8  col-xs-12">
           <img src="Images/Photo_profile_bat.png" class="img-thumbnail picture hidden-xs" />
           <img src="Images/Photo_profile_bat.png" class="img-thumbnail visible-xs picture_mob" />
           <div class="header">
                <h1>Bobby</h1>
                <h4>Med student, traveller and photo lover</h4>
                <span>Every time I go somewhere, I bring my camera with me... of course, I won't show you all the sad stuff I see at work every day. Enjoy my travels and tell me what you think about it!</span>
           </div>
        </div>
    </div>   
    
    <div class="boutons profile">
      <div class="row nav">    
          <div class="col-md-4"></div>
          <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
              <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 16</div>
              <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
              <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
          </div>
      </div>
    </div>
</div>
    

  
<!-- GALERIE DE PHOTOS THUMBNAIL - SOURCE du code : http://www.bootply.com/70929
==================================================  -->

<div class="gallery">
  <div class="container">
    <h1>Meme page pour top rated pictures, local pictures, my gallery, my uploaded photos, etc.</h1>
    <h2>Top pictures from our community <p class="lead"> Curated for the people, by the people</p></h2>
    <div class="row">  
      <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
              <img src="http://www.bootbundle.com/bundle/unsplash/bg_suburb_1024.jpg" class="thumbnail img-responsive">
              <img src="http://www.bootbundle.com/bundle/unsplash/bg_suburb_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/boardwalk_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/green_leaf_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/mtns_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/old_plank_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/rustic_bldg_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/woods_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://s3.amazonaws.com/sitebuilderreport-assets/stock_photos/files/000/000/991/small/download?1412714592" class="thumbnail img-responsive">
          </a>
      </div>
      
    </div>    
  <hr>
  	<nav>
         <ul class="pagination">
          <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
        </ul>
        </nav>
  <hr>
    
       
      
      

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 <em>Art By People & Company</em>, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
</div>  
</div> 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap-3.2.0 Source/dist/js/bootstrap.min.js"></script>
    <script src="bootstrap-3.2.0 Source/dist/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap-3.2.0 Source/dist/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
